# Node dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Git repository
.git

# Package manager files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Operating system
.DS_Store
.Thumbs.db
